/*
Description: Used to style the TinyMCE editor.
*/
body {
  font-family: 'Open sans', Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open sans', Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 700;
  color: #333;
  margin-top: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
}

.alignleft, .wp-caption.alignleft {
  float: left;
}

.alignright, .wp-caption.alignright {
  float: right;
}

.alignleft, .wp-caption.alignleft {
  margin: 10px 15px 5px 0;
}

.alignright, .wp-caption.alignright {
  margin: 10px 0 5px 15px;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.aligncenter {
  margin: 1em auto;
}

.wp-caption .wp-caption-text,
.entry-caption {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.caption {
  opacity: 0.6;
}

.small {
  font-size: 0.8em;
}
